<div class="element">
    <button onclick="editor.chain().focus().toggleBold().run()">
        Bold
    </button>
</div>
<script>
    import { Editor } from '@tiptap/core'
    import StarterKit from '@tiptap/starter-kit'
    const editor = new Editor({
        element: document.querySelector('.element'),
        extensions: [
            StarterKit,
        ],
        content: '<p>Hello World!</p>',
    })
</script>
